layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        format_left   " {mode} #[fg=#89B4FA,bold]{session} {notifications}"
        format_center "{tabs}"
        format_right  "{command_git_branch} {datetime}"
        format_space  ""

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        hide_frame_for_single_pane "false"

        mode_normal        "#[bg=#89B4FA,fg=#CDD6F4] 󱙝 "
        mode_locked        "#[bg=#F38BA8,fg=#181825]  "
        mode_resize        "#[bg=#94E2D5,fg=#181825] 󰩨 "
        mode_pane          "#[bg=#A6E3A1,fg=#181825]  "
        mode_tab           "#[bg=#FAB387,fg=#181825] 󰓩 "
        mode_scroll        "#[bg=#F9E2AF,fg=#181825]  "
        mode_enter_search  "#[bg=#CBA6F7,fg=#181825] 󱁴 "
        mode_search        "#[bg=#CBA6F7,fg=#181825]  "
        mode_rename_tab    "#[bg=#89DCEB,fg=#181825] 󰤌 "
        mode_rename_pane   "#[bg=#89DCEB,fg=#181825] 󰂮 "
        mode_session       "#[bg=#F5C2E7,fg=#181825] 󰨇 "
        mode_move          "#[bg=#FAE3B0,fg=#181825] 󰆾 "
        mode_prompt        "#[bg=#94E2D5,fg=#181825]  "
        mode_tmux          "#[bg=#F2CDCD,fg=#181825]  "
        mode_default_to_mode "tmux"

        tab_normal   "#[fg=#6C7086] {name} "
        tab_active   "#[fg=#9399B2,bold,italic] {name} "
        tab_sync_indicator       "<> "
        tab_fullscreen_indicator "[] "
        tab_floating_indicator   "⬚ "

        tab_display_count         "5"  // limit to showing 3 tabs
        tab_truncate_start_format "#[fg=#6C7086] < +{count} ..."
        tab_truncate_end_format   "#[fg=#6C7086] ... +{count} >"

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        notification_format_unread           "#[fg=#F38BA8,bg=#181825,blink] ✱#[fg=#F38BA8,bg=#181825] {message}"
        notification_format_no_notifications ""
        notification_show_interval           "10"

        datetime        "#[fg=#6C7086,bold] {format} "
        datetime_format "%d %b %Y %H:%M"
        datetime_timezone "Australia/Melbourne"
      }
    }
    children
  }
}
